In [1]:
mydict = dict() # creation of dictionary named mydict.
mydict

{}

{} is the output because we didnt give any input values to store.

In [3]:
mydict = { 1:'one' , 2:'two' , 3:'three' } # the values in dictionary should always be store in key value format .
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [4]:
mydict = dict( { 1:'one' , 2:'two' , 3:'three' } ) # other way to create dictionary is dict().
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [6]:
mydict1 = { 'A':'one' , 'B':'two' , 'C':'three' } # key can be of any data type.
mydict1

{'A': 'one', 'B': 'two', 'C': 'three'}

In [7]:
mydict2 = { 1.1 :'one' , 1.2 :'two' , 1.3 :'three' }
mydict2

{1.1: 'one', 1.2: 'two', 1.3: 'three'}

In [9]:
mydict.keys() # will return the key values in that dictionary

dict_keys([1, 2, 3])

In [10]:
mydict.values() # will return the values in that dictionary

dict_values(['one', 'two', 'three'])

In [11]:
mydict.items() # will return the key-value pairs stored in that dictionary.

dict_items([(1, 'one'), (2, 'two'), (3, 'three')])

In [16]:
mydict3 = {1:'one','A':3,1.3 : ['monu','siri','monika']} # with a list
mydict3

{1: 'one', 'A': 3, 1.3: ['monu', 'siri', 'monika']}

In [13]:
 
keys = {'a' , 'b' , 'c' , 'd'} 
mydict4 = dict.fromkeys(keys) # Create a dictionary from a sequence of keys 
mydict4

{'d': None, 'b': None, 'c': None, 'a': None}

In [19]:
 
keys = {'a' , 'b' , 'c' , 'd'} 
value = [10,20,30]
mydict5 = dict.fromkeys(keys , value) # Create a dictionary from a sequence of keys and values
mydict5

{'d': [10, 20, 30], 'b': [10, 20, 30], 'c': [10, 20, 30], 'a': [10, 20, 30]}

In [20]:
value.append(40)
mydict5

{'d': [10, 20, 30, 40],
 'b': [10, 20, 30, 40],
 'c': [10, 20, 30, 40],
 'a': [10, 20, 30, 40]}

Accessing items

In [2]:
mydict = { 1:'one' , 2:'two' , 3:'three' } 
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [4]:
mydict[1] # we can access values using keys.

'one'

In [6]:
mydict.get(1) # using get() function.

'one'

In [8]:
mydict1 = { 'A':'one' , 'B':'two' , 'C':'three' }
mydict1

{'A': 'one', 'B': 'two', 'C': 'three'}

In [9]:
mydict1['A']

'one'

In [12]:
mydict1.get('C')

'three'

Add , Remove and Change Items.

In [30]:
 mydict1 = {'Name':'Monika' , 'ID': 12345 , 'DOB': 2003 , 'Address' : 'India'} 
mydict1

{'Name': 'Monika', 'ID': 12345, 'DOB': 2003, 'Address': 'India'}

In [31]:
mydict1['ID']=721 # changing dictionary items.
mydict1

{'Name': 'Monika', 'ID': 721, 'DOB': 2003, 'Address': 'India'}

In [32]:
 
dict1 = {'ID':12345} 
mydict1.update(dict1) 
mydict1

{'Name': 'Monika', 'ID': 12345, 'DOB': 2003, 'Address': 'India'}

In [33]:
mydict1['Job']='Student' #Adding items in the dictionary.
mydict1

{'Name': 'Monika',
 'ID': 12345,
 'DOB': 2003,
 'Address': 'India',
 'Job': 'Student'}

In [34]:
mydict1.pop('Job') #removing items from dictionaru mydict1 using pop() function.
mydict1

{'Name': 'Monika', 'ID': 12345, 'DOB': 2003, 'Address': 'India'}

In [36]:
mydict1.popitem()

('Address', 'India')

In [37]:
mydict1

{'Name': 'Monika', 'ID': 12345, 'DOB': 2003}

In [38]:
del[mydict1['ID']] #removing items using del() function.
mydict1

{'Name': 'Monika', 'DOB': 2003}

In [39]:
mydict1.clear()
mydict1

{}

In [40]:
del mydict1 # Deleting the dictionary.
mydict1

NameError: name 'mydict1' is not defined

Copy Dictionary

In [41]:
mydict

{1: 'one', 2: 'two', 3: 'three'}

In [43]:
mydict2 = mydict # this is not copying we are just creating a reference.

In [44]:
id(mydict), id(mydict2) # the address of both mydict & mydict2 will be the same.

(2497110566720, 2497110566720)

In [45]:
mydict3 = mydict.copy() #  Creating the copy of the dictionary using copy() funtion.

In [47]:
id(mydict3) # will be different from mydict because we are copying the items from mydict to another dict named mydict3 in another place of memory.

2497111485568

In [48]:
mydict['2'] ='TWO'
mydict

{1: 'one', 2: 'two', 3: 'three', '2': 'TWO'}

In [49]:
mydict2 # will also be impacted because we did'nt copy but we created a reference.

{1: 'one', 2: 'two', 3: 'three', '2': 'TWO'}

In [50]:
mydict3 # will not be impacted

{1: 'one', 2: 'two', 3: 'three'}

Looping through a Dictionary

In [52]:
mydict1 = {'Name':'Monika' , 'ID': 12345 , 'DOB': 2003 , 'Address' : 'India'} 
mydict1

{'Name': 'Monika', 'ID': 12345, 'DOB': 2003, 'Address': 'India'}

In [53]:
for i in mydict1:
    print(i , ':' , mydict1[i]) # key-value pair

Name : Monika
ID : 12345
DOB : 2003
Address : India

In [54]:
for i in mydict1:
    print(mydict1[i]) # Dictionary items

Monika
12345
2003
India

Dictionary membership

In [55]:
mydict1

{'Name': 'Monika', 'ID': 12345, 'DOB': 2003, 'Address': 'India'}

In [56]:
'Name' in mydict1 # Test if a key is in a dictionary or not.

True

In [57]:
'Monika' in mydict1 # membership test can only done on keys.

False

All / Any

In [58]:
mydict1

{'Name': 'Monika', 'ID': 12345, 'DOB': 2003, 'Address': 'India'}

In [60]:
all(mydict1) # Will return true as none of the values in false (Value 0)

True