In [5]:
a=6 # i have assigned value 6 to variable a

In [2]:
a+a # first arithmetic operator ADDITION

12

In [3]:
a-a # second arithmetic operator SUBTRACTION

0

In [4]:
a*a # third arithmetic operator MULTIPLICATION

36

In [6]:
a**a # fourth arithmetic operator TO THE POWER

46656

In [7]:
a/a # fifth arithmetic operator FLOAT DIVISION

1.0

In [8]:
a//a # sixth arithmetic operator INT DIVISION

1

In [9]:
a%a # seventh arithmetic operator MODULUS

0

ASSIGNMENT OPERATOR

In [32]:
a = 8 # a is the variable and the value assigned to a is 8

In [33]:
a

8

In [34]:
a + 2

10

In [38]:
a += 2
a

12

In [42]:
a += 2 # it is an assignment operator it adds the value on the left to the value that is held by the variable on the right previously.Here the value just went up from 12 to 20 because i have executed the same statement for 4 times, just to understand this better.
a

20

In [43]:
a -= 2
a

18

In [44]:
a -= 2 # this is the assignment operator which does the opposite of the operator before that is this operator decrements the value on the left from the value assigned to the variable initially. As we can see the value of variable a is decremented from 20 to 18 and now from 18 to 16 because the same operator is executed twice.
a

16

In [45]:
a *= 2
a

32

In [46]:
a *= 2 # As we have learned before that the asterisk is the symbol for multiplication. Hence this operator multiplies the value on the left to the current value of the variable.
a

64

In [47]:
a /= 2 # this operator has float division operator, so it performs the same function as the standard float division.
a

32.0

In [48]:
a = 7
b = -7 
print(a)
print(b)

7
-7

VARIABLES

In [49]:
1monu = 6 # a variable can never start with a number or digit

SyntaxError: invalid decimal literal (965994033.py, line 1)

In [50]:
monu1 = 6 # FIRST RULE variable should always start with alphabets.
monu1

6

In [51]:
monu@ = 6 # a variable can never contain a special character

SyntaxError: invalid syntax (3153024125.py, line 1)

In [52]:
monu_ = 6 # underscore "_" has the special previlege it can be included while naming the variable.
monu_

6

In [53]:
if = 6
if

SyntaxError: invalid syntax (754765764.py, line 1)

In [54]:
import keyword # a keyword can never be used as variable name.
keyword.kwlist # here is the list of keywords which can never be used as variable names.

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [55]:
len(keyword.kwlist) # len() is a function that tells us the number items in a set/list.

35

In [56]:
import sys # code to check the system version.
sys.version

'3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]'

DATA TYPES

In [57]:
i = 21 # variable assignment
print(i) # print()-- function that is used to print a variable's value.
print(type(i)) #type()--tells the datatype of the value assigned to the given variable.

21
<class 'int'>

In [58]:
i1, i2 = 10 # single value can't be assigned to two variables.

TypeError: cannot unpack non-iterable int object

In [59]:
i1, i2 = 10,20 # python has feature to assign many values to the same number of variables at the same time that is in the same line of code.
print(i1) 
print(i2) # we are writing two different print() functions for i1 & i2 because if we won't write that way the value for the last variable in the code will only be printed as output leaving the rest behind.
print(i1 + i2)
print(i1 - i2)
print(i1 * i2)
print(i1 / i2)

10
20
30
-10
200
0.5

In [60]:
ginger = 110.63 # the data type with a decimal in it is called FLOAT
ginger

110.63

In [61]:
type(ginger)

float

In [63]:
s = Monika # it leaves an error message because text should always be written between single'',double"" or triple "'"' codes
s

NameError: name 'Monika' is not defined

In [64]:
s = 'Monika'
s

'Monika'

In [65]:
type(s)

str

In [66]:
s = "Monika" # a sinle line of text can be written in single and double codes.
s

'Monika'

In [67]:
s1 = ''' Monika, a student of naresh it. 
                learning full stack datascience with ai '''
s1

' Monika, a student of naresh it. \n                learning full stack datascience with ai '

In [68]:
s

'Monika'

In [69]:
print(s[0]) # print the element with 0 index. (forward indexing starts from 0)
print(s[-1])# print the element with -1 index. (backward indexing starts from -1)
print(s[3])

M
a
i

In [71]:
s[:] # the colon":" represents slicing method where the output is generally depended on the index numbers which are on left and right of colon ":". Here there are no numbers so whole string is goint to be the output.

'Monika'

In [72]:
s[2:5] #so as we see that the index number to the left is 2 so the value in the string with the index 2 is n, and to the rigth we have 5 the value with index 5 is a. So the output should be "nika" but the output we got is "nik" because of the rule that we have to know is WHEN IT COMES TO THE RIGHT INDEX "n-1" IS THE FORMULAE TO BE FOLLOWED that is we need to decrease the index value on the right with 1.

'nik'

In [73]:
true # here comes the boolean data type where we only have two values that is TRUE AND FALSE but both should start with the capital letter. otherwise it leaves an error.

NameError: name 'true' is not defined

In [74]:
True

True

In [75]:
False

False

In [76]:
b = True
b1 = False
b

True

In [77]:
b1

False

In [78]:
b + b1 # True indicates 1 and False indicates 0. So, the output is 1+0=1.

1

In [80]:
print(b-b1) # the systems can understand boolean language because it is binary.
print(b*b1)
print(b1/b)
print(b1//b)

1
0
0.0
0

In [82]:
type(b)

bool

In [84]:
c1 = 10 + 20j # this is complex data type where there are three parts 10 (the real part), 20 ( the imaginary part) and j(the square root of -1)
c1

(10+20j)

In [85]:
type(c1)

complex

In [86]:
c1.real # gives real part as output

10.0

In [87]:
c1.imag # gives imaginary part as output

20.0

In [88]:
c2 = 3 + 5j

In [90]:
c1 + c2 # in complex data type the arithmetic operators works seperately on real and imaginary parts

(13+25j)

TYPE CASTING

In [91]:
int(3.4) # converts float to int

3

In [92]:
int(2.3,4.5) # does'nt accept more that one argument.

TypeError: 'float' object cannot be interpreted as an integer

In [94]:
int(True) # boolean to int

1

In [95]:
int("Monika") # can't convert string with text to int.

ValueError: invalid literal for int() with base 10: 'Monika'

In [96]:
int('21') # string with digits to int

21

In [ ]:
int(10+2j) # can't convert complex to int