- if
- if else
- if elif else
- nested if

In [6]:
if True:
    print("data science")

data science

In [7]:
if False:             
    print("data science")
print("bye for now")

bye for now

In [8]:
if True:
    print("data science")
print("bye for now")

data science
bye for now

In [9]:
if True:
    print("data science")
else:
    
    print("bye for now")

data science

In [15]:
# a program to check whether give number is even or odd

x = 4

r = x % 2

if ( r == 0 ):
    print("Even Number")

Even Number

In [17]:
x = 5

r = x % 2

if ( r == 0 ):
    print("Even Number")

if ( r == 1 ):
    print("Odd Number")

Odd Number

In [18]:
x = 5

r = x % 2

if ( r == 0 ):
    print("Even Number")

else :
    print("Odd Number")

Odd Number

In [19]:
x = 4

r = x % 2

if ( r == 0 ):
    print("Even Number")

else:
    print("Odd Number")

Even Number

In [20]:
x = 3
r = x % 2

if ( r == 0 ):
    print("Even number")
    if ( x>5 ):
        print(" Greater number")

else:
    print("Odd number")

Odd number

In [21]:
x = 6
r = x % 2

if ( r == 0 ):
    print("Even number")
    if ( x>5 ):
        print(" Greater number")

else:
    print("Odd number")

Even number
 Greater number

In [22]:
x = 4
r = x % 2

if ( r == 0 ):
    print("Even number")
    if ( x>5 ):
        print(" Greater number")

else:
    print("Odd number")

Even number

In [24]:
x = 4
r = x % 2

if ( r == 0 ):
    print("Even number")
    if ( x>5 ):
        print(" Greater number")
    else:
        print("Smaller number")

else:
    print("Odd number")

Even number
Smaller number

In [25]:
x = 1

if ( x == 1):
    print("One")
if ( x == 2):
    print("Two")
if ( x == 3):
    print("Three")
if ( x == 4):
    print("Four")

One

In [26]:
x = 2

if ( x == 1):
    print("One")
if ( x == 2):
    print("Two")
if ( x == 3):
    print("Three")
if ( x == 4):
    print("Four")

Two

In [27]:
x = 3

if ( x == 1):
    print("One")
if ( x == 2):
    print("Two")
if ( x == 3):
    print("Three")
if ( x == 4):
    print("Four")

Three

In [28]:
x = 4

if ( x == 1):
    print("One")
if ( x == 2):
    print("Two")
if ( x == 3):
    print("Three")
if ( x == 4):
    print("Four")

Four

In [29]:
x = 1

if ( x == 1):
    print("One")
elif ( x == 2):
    print("Two")
elif ( x == 3):
    print("Three")
elif ( x == 4):
    print("Four")
else:
    print("Number not found")

One

In [30]:
x = 5

if ( x == 1):
    print("One")
elif ( x == 2):
    print("Two")
elif ( x == 3):
    print("Three")
elif ( x == 4):
    print("Four")
else:
    print("Number not found")

Number not found