LIST

In [1]:
list1 = [] # empty list

In [2]:
print(type(list1))

<class 'list'>

In [4]:
list2 = [10, 20, 30] #this is the list of integer numbers.

In [5]:
list3 = [10.25, 20.35, 35.21] #this is the list of float numbers.

In [8]:
list4 = ['one', 'three', 'eight'] #this is the list of strings.

In [9]:
list5 = ['Monu', 21, [721, 6711], [23.43, 66]] #there are two lists in one list so this is known as linked lists.

In [10]:
list6 = ['Monu', 21, 54.0] # lists that consists of different datatypes.

In [11]:
len(list6)

3

LIST INDEXING

In [12]:
list2[0] #retrieving first element from the list using forward indexing.

10

In [13]:
list4[0]

'one'

In [14]:
list4[0][0] # nested indexing here first 0 is for the list itself and second 0 is for the first string or linked list element.

'o'

In [15]:
list2[-1] # retrieveing last element using backward indexing.

30

In [16]:
list6[-1]

54.0

LIST SLICING

In [17]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [19]:
mylist[0:3] # gives you the elements that are indexed from zero to two because the second element in slicing has the "n-1" rule to follow.

['one', 'two', 'three']

In [20]:
mylist[2:5]

['three', 'four', 'five']

In [21]:
mylist[:3] # if there is no element on the right side of the slicing then it means the start of the index.

['one', 'two', 'three']

In [22]:
mylist[:6]

['one', 'two', 'three', 'four', 'five', 'six']

In [23]:
mylist[:-2] #slicing using backward indexing here also the "n-1" rule is followed.

['one', 'two', 'three', 'four', 'five', 'six']

In [24]:
mylist[-2:]

['seven', 'eight']

In [25]:
mylist[:]

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

ADD, REMOVE & CHANGE THE ELEMENTS

In [26]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [38]:
mylist.append('nine')
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [39]:
mylist.insert(9,'ten') #here insert() function adds given element in the given index.
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [40]:
mylist.insert(1,'ONE')

In [41]:
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [42]:
mylist.remove('ONE')

In [43]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [44]:
mylist.pop()

'ten'

In [45]:
mylist.pop(8)

'nine'

In [48]:
del mylist[7]

In [49]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

Change values of the string

In [50]:
mylist[0] = 1 
mylist[1] = 2 
mylist[2] = 3 
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [51]:
mylist.clear()

In [53]:
mylist

[]

In [55]:
del mylist

In [56]:
mylist

NameError: name 'mylist' is not defined

COPY LIST

In [58]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight','nine' ]

In [60]:
mylist1 = mylist

In [61]:
id(mylist), id(mylist1)

(2532154282688, 2532154282688)

In [62]:
mylist2 = mylist.copy() # before we created just the reference but here we are copying mylist to mylist2

In [63]:
id(mylist2) #so the id will be different from the previous ones.

2532153984832

In [64]:
mylist[0] = 1

In [65]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [67]:
mylist1 #this list will also change because its just a reference i.e; it is pointing to the OG mylist.

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [68]:
mylist2 #doesnt change because we copied the OG to this list.

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

JOIN LISTS

In [69]:
list1 = ['one', 'two', 'three']
list2 = ['four', 'five', 'six']

In [70]:
list3 = list1 + list2 # here we are using the add operator to join lists and storing the result in list3.

In [71]:
list3

['one', 'two', 'three', 'four', 'five', 'six']

In [72]:
list1.extend(list2) # extend() joins secnd list with first list.

In [73]:
list1

['one', 'two', 'three', 'four', 'five', 'six']

LIST MEMBERSHIP

In [74]:
list1

['one', 'two', 'three', 'four', 'five', 'six']

In [75]:
'one' in list1 # checks if list1 contains 'one' or not.

True

In [76]:
'eight' in list1

False

In [79]:
if 'two' in list1:
    print("two is present in list1")
else:
    print("two is not present in list1")

two is present in list1

REVERSE AND SORT LIST

In [80]:
list1

['one', 'two', 'three', 'four', 'five', 'six']

In [81]:
list1.reverse()
list1

['six', 'five', 'four', 'three', 'two', 'one']

In [84]:
list1[::-1]

['one', 'two', 'three', 'four', 'five', 'six']

In [85]:
mylist3 = [9,5,2,99,12,88,34] 
mylist3.sort() # Sort list in ascending order 
mylist3

[2, 5, 9, 12, 34, 88, 99]

In [88]:
mylist3 = [9,5,2,99,12,88,34] 
mylist3.sort(reverse=True) # Sort list in descending order 
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [90]:
mylist4 = [20,35,17,90,1,40]
sorted(mylist4)

[1, 17, 20, 35, 40, 90]

LOOP THROUGH A LIST

In [91]:
list1

['six', 'five', 'four', 'three', 'two', 'one']

In [92]:
for i in list1:
    print(i)

six
five
four
three
two
one

In [94]:
for i in enumerate (list1):
    print(i)

(0, 'six')
(1, 'five')
(2, 'four')
(3, 'three')
(4, 'two')
(5, 'one')

COUNT

In [95]:
list10 = ['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [96]:
list10.count('one')

3

In [98]:
list10.count('three')

2

ALL/ANY

In [99]:
L1 = [1,2,3,4,5,0]

In [100]:
all(L1)

False

In [101]:
any(L1)

True