- WHILE LOOP
- FOR LOOP

In [2]:
i = 1

while i<=5:
    print("Data Science")
    i = i + 1 # incremental

Data Science
Data Science
Data Science
Data Science
Data Science

In [3]:
i = 5

while i>=1:
    print("Data Science")
    i = i - 1  # decremental

Data Science
Data Science
Data Science
Data Science
Data Science

In [4]:
i = 1

while i<=5:
    print("Data Science:",i)
    i = i + 1 # incremental

Data Science: 1
Data Science: 2
Data Science: 3
Data Science: 4
Data Science: 5

In [5]:
i = 5

while i>=1:
    print("Data Science:", i)
    i = i - 1  # decremental

Data Science: 5
Data Science: 4
Data Science: 3
Data Science: 2
Data Science: 1

In [6]:
i = 1

while i<=5:
    print("Data Science")
    j = 1

    while j<=4:
        print(" Technology")
        j = j + 1
        
    i = i+1
    print()

Data Science
 Technology
 Technology
 Technology
 Technology

Data Science
 Technology
 Technology
 Technology
 Technology

Data Science
 Technology
 Technology
 Technology
 Technology

Data Science
 Technology
 Technology
 Technology
 Technology

Data Science
 Technology
 Technology
 Technology
 Technology

In [7]:
i = 1

while i<=5:
    print("Data Science", end="")
    j = 1

    while j<=4:
        print(" Technology", end="")
        j = j + 1
        
    i = i+1
    print()

Data Science Technology Technology Technology Technology
Data Science Technology Technology Technology Technology
Data Science Technology Technology Technology Technology
Data Science Technology Technology Technology Technology
Data Science Technology Technology Technology Technology

In [8]:
i = 1

while i <= 2:
    j=0
    while j <= 2:
        print(i*j, end="")
        j += 1
    print()
    i += 1

012
024

In [9]:
i = 1

while i <= 4:
    j=0
    while j <= 3:
        print(i*j, end="")
        j += 1
    print()
    i += 1

0123
0246
0369
04812

In [10]:
name = "nit"

for i in name:
    print(i)

n
i
t

In [11]:
for i in range(1,51):

    if i%5==0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [12]:
for i in range(1,51):

    if i%5!=0:
        print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

- break
- continue
- pass

In [15]:
for i in range(1,11):

    if i == 6:
        break
        
    print(i)

1
2
3
4
5

In [19]:
for i in range(1,11):

    if i == 6:
        continue
        
    print(i)

1
2
3
4
5
7
8
9
10

In [22]:
for i in range(1,11):

_IncompleteInputError: incomplete input (1334445784.py, line 1)

In [23]:
for i in range(1,11):
    pass