TUPLE CREATION

In [1]:
tup1 = () #empty tuple

In [2]:
tup2 = (10,20,30) # tuple of int datatype elements

In [4]:
tup3 = (11.02, 21.30, 31.53 ) # tuple of float datatype elements

In [5]:
tup4 = ('Monika', 'Siri', 'monu') # tuple of strings.

In [6]:
tup5 = ( 'Monu', 22, 34.3 ) # tuple of mixed datatypes.

In [7]:
tup6 = ("Monu", 21, [10,50], [13.42, 35.46]) #nested tuple.

In [8]:
len(tup6)

4

TUPLE INDEXING

In [9]:
tup2[0]

10

In [11]:
tup2[2]

30

In [12]:
tup6[3][1] # the first index is for whole tuple and the second one is for the internal one

35.46

In [13]:
tup4[-1]

'monu'

TUPLE SLICING

In [14]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [15]:
mytuple[2:4]

('three', 'four')

In [18]:
mytuple[3:-5] # the output is a empty tuple because both the forward and backward indexing have pointed out the same element.

()

In [20]:
mytuple[-3:]

('six', 'seven', 'eight')

In [21]:
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

REMOVE & CHANGE ELEMENTS

In [22]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [24]:
del mytuple[0] #we can't delete elements in tuple because they can't be deleted hence they are immutable.

TypeError: 'tuple' object doesn't support item deletion

In [26]:
mytuple[0] = 1 #the same goes for changing too

TypeError: 'tuple' object does not support item assignment

In [27]:
del mytuple # but we can delete the entire tuple

In [28]:
mytuple

NameError: name 'mytuple' is not defined

LOOP THROUGH A TUPLE

In [2]:
mytuple = ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [3]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [5]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

TUPLE MEMBERSHIP

In [6]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [7]:
'one' in mytuple #checks whether one is there in mytuple if yes it returns True or else it returns False.

True

In [8]:
'nine' in mytuple

False

In [9]:
if 'three' in mytuple:
    print('three is present in the tuple')
else:
    print('three is not present in the tuple')

three is present in the tuple

In [10]:
if 'ten' in mytuple:
    print('ten is present in the tuple')
else:
    print('ten is not present in the tuple')

ten is not present in the tuple

INDEX POSITION

In [11]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [12]:
mytuple.index('one')

0

In [13]:
mytuple.index('five')

4

SORTING

In [15]:
mytuple2 = (43, 67, 99, 12, 6, 90, 67)

In [16]:
sorted(mytuple2)

[6, 12, 43, 67, 67, 90, 99]

In [19]:
sorted(mytuple2,reverse=True)

[99, 90, 67, 67, 43, 12, 6]